body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(227, 212, 240);
    font-family: 'Nunito', sans-serif;
}

:root{
    --pColor: rgb(255, 255, 255);
    --sColor: rgb(48, 38, 90);
    --tColor: rgb(66, 52, 121);
}

label{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
}

.navbar{
    margin: auto;
    top: 0;
    width: 100%;
    height: 5.5rem;
    background-color: var(--sColor);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "home titulo linkPData";
    align-items: center;
    text-align: center;
    transition: 1s;
}

.home{
    grid-area: home;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "loguito palabrita";
    transition: 0.5s;
}


.logo{
    margin: auto;
    width: 100%;
    grid-area: loguito;
}
.logo img{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid white;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.palabraL{
    text-align: justify;
    transition: 0.5s;
    grid-area: palabrita;
    align-items: center;
}

.tittle{
    margin: auto;
    color: white;
    grid-area: titulo;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    align-items: center;
    text-align: center;
}

.personalData a{
    margin: auto;
    color: white;
    grid-area: linkPData;
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
    text-align: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.personalData a:hover{
    margin: auto;
    color:  rgb(135, 251, 226);
    font-family: 'Nunito', sans-serif;
    font-size: 160%;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}

.home:hover{
    padding: 3%;
    background-color: var(--tColor);
    transition: 0.5s;
} 

.home label:hover{
    
    color:  rgb(135, 251, 226);
} 
.logo img:hover{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid  rgb(135, 251, 226);
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.personalData:hover{
    padding: 6.5%;
    background-color: var(--tColor);
    transition: 0.5s;
}

.contCards{
    margin: auto;
    width: 90%;
    height: 93%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "col11 col12 col13 col14"
                         "col21 col22 col23 col24";
}

.cl11{
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    grid-area: col11;
}
.cl12{
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    grid-area: col12;
}
.cl13{
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    grid-area: col13;
}
.cl14{
    height: 15rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    grid-area: col14;
}
.cl21{
    height: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-area: col21;
}
.cl22{
    height: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-area: col22;
}
.cl23{
    height: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-area: col23;
}
.cl24{
    height: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    grid-area: col24;
}


.cards{
    margin: auto;
    width: 85%;
    height: 90%;
    border-radius: 25px;
    background-color: white;
    border: 4px solid var(--sColor);
    display: grid;
    grid-template-rows: 88% 12%;
    grid-template-areas: "imagen" "titt";
}
.imagen{
    margin: auto;
    width: 90%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    grid-area: imagen;
}
.tittleCard{
    margin: auto;
    width: 100%;
    height: 100%;
    grid-area: titt;
    background-color: var(--sColor);
    color: white;
    text-align: center;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.footer{
    width: 100%;
    height: 10rem;
    background-color: var(--sColor);
    position:fixed;
    bottom:0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "col1 col2";
}

.redes{
    color: rgb(229, 194, 245);
    text-align: justify;
}

.containerDataP{
    width: 69%;
    height: 88%;
    margin: auto;
    margin-top: 7%;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "foto nom nom"
                         "foto codigo carrera";
}
.fotoDataP{
    align-items: center;
    text-align: center;
    margin: auto;
}
.fotoDataP img{
    margin: auto;
    width: 330px;
    height: 330px;
    border-radius: 100%;
    border: 5px solid var(--sColor);
    align-items: center;
    text-align: center;
}
.name{
    text-align: center;
    font-size: 50px;
    grid-area: nom;
    color: var(--sColor);
    font-weight: 900;
}
.cod{
    text-align: center;
    grid-area: codigo;
    font-size: 22px;
}
.car{
    text-align: center;
    grid-area: carrera;
    font-size: 22px;
}

.colum1{
    margin: auto;
    text-align: center;
    align-items: center;
    width: 85%;
    grid-area: col1;
}

.colum2{
    margin: auto;
    text-align: center;
    align-items: center;
    width: 85%;
    grid-area: col2;
}