body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(227, 212, 240);
    font-family: 'Nunito', sans-serif;
}

:root{
    --pColor: rgb(255, 255, 255);
    --sColor: rgb(48, 38, 90);
    --tColor: rgb(66, 52, 121);
}

label{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
}

.navbar{
    margin: auto;
    top: 0;
    width: 100%;
    height: 5.5rem;
    background-color: var(--sColor);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "home titulo linkPData";
    align-items: center;
    text-align: center;
    transition: 1s;
}

.home{
    grid-area: home;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "loguito palabrita";
    transition: 0.5s;
}


.logo{
    margin: auto;
    width: 100%;
    grid-area: loguito;
}
.logo img{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid white;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.palabraL{
    text-align: justify;
    transition: 0.5s;
    grid-area: palabrita;
    align-items: center;
}

.tittle{
    margin: auto;
    color: white;
    grid-area: titulo;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    align-items: center;
    text-align: center;
}

.personalData a{
    margin: auto;
    color: white;
    grid-area: linkPData;
    font-family: 'Nunito', sans-serif;
    font-size: 150%;
    text-align: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.personalData a:hover{
    margin: auto;
    color:  rgb(135, 251, 226);
    font-family: 'Nunito', sans-serif;
    font-size: 160%;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}

.home:hover{
    padding: 3%;
    background-color: var(--tColor);
    transition: 0.5s;
} 

.home label:hover{
    
    color:  rgb(135, 251, 226);
} 
.logo img:hover{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid  rgb(135, 251, 226);
    align-items: center;
    text-align: center;
    transition: 0.5s;
}

.personalData:hover{
    padding: 6.5%;
    background-color: var(--tColor);
    transition: 0.5s;
}

.contCards{
    width: 90%;
    height: 80%;

}

.cards{
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
    background-color: white;
    border: 3px solid var(--sColor);
}

.footer{
    width: 100%;
    height: 10rem;
    background-color: var(--sColor);
    position:fixed;
    bottom:0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "col1 col2";
}

.redes{
    color: rgb(229, 194, 245);
    text-align: justify;
}

.containerDataP{
    margin: auto;
    margin-top: 3rem;
    width: 97%;
    height: 88%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "foto nom nom"
                         "foto cod carrera";
}
.fotoDataP{
    align-items: center;
    text-align: center;
    margin: auto;
}
.fotoDataP img{
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 5px solid var(--sColor);
    align-items: center;
    text-align: center;
}

.colum1{
    margin: auto;
    text-align: center;
    align-items: center;
    width: 85%;
    grid-area: col1;
}

.colum2{
    margin: auto;
    text-align: center;
    align-items: center;
    width: 85%;
    grid-area: col2;
}